<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.miniProj.domain.dao.GetMemberMapper">
    <select id="getResult" resultType="com.example.miniProj.domain.dto.VerificationRequestDto">
        select companyCd
             , reqTxId
             , certTxId
             , phoneNo
            , userNm
        from member m
        where certTxId = #{certTxId}

    </select>
    <resultMap id="CertificationRequestDto" type="com.example.miniProj.domain.dto.CertificationRequestDto">
        <result property="companyCd" column="companyCd"/>
        <result property="serviceTycd" column="serviceTycd"/>
        <result property="reqTitle" column="reqTitle"/>
        <result property="reqCSPhoneNo" column="reqCSPhoneNo"/>
        <result property="reqEndDttm" column="reqEndDttm"/>
        <result property="signTargetTycd" column="signTargetTycd"/>
        <result property="signTarget" column="signTarget"/>
        <result property="reqTxId" column="reqTxId"/>
        <result property="isCombineAuth" column="isCombineAuth"/>
        <result property="isDigitalSign" column="isDigitalSign"/>
        <result property="isNotification" column="isNotification"/>
        <result property="isPASSVerify" column="isPASSVerify"/>
        <result property="isUserAgreement" column="isUserAgreement"/>
        <association property="memberDto" javaType="com.example.miniProj.domain.dto.MemberDto">
            <result property="telcoTyCd" column="telcoTyCd"/>
            <result property="phoneNo" column="phoneNo"/>
            <result property="userNm" column="userNm"/>
            <result property="birthday" column="birthday"/>
            <result property="gender" column="gender"/>
        </association>
    </resultMap>
    <select id="findCertification" resultMap="CertificationRequestDto">
        select companyCd
             , serviceTycd
             , reqTitle
             , reqCSPhoneNo
             , reqEndDttm
             , signTargetTycd
             , signTarget
             , reqTxId
             , isCombineAuth
             , isDigitalSign
             , isNotification
             , isPASSVerify
             , isUserAgreement
             , telcoTyCd
             , phoneNo
             , userNm
             , birthday
             , gender
        from member m
        where certTxId = #{certTxId}
    </select>
    <select id="findMember" resultType="com.example.miniProj.domain.dto.MemberResultDto">
        select reqTxId
             , telcoTxId
             , certTxId
             , resultTycd
             , digitalSign
             , ci
             , userNm
             , birthday
             , gender
        from member
        where certTxId = #{certTxId}
    </select>
    <select id="findServiceTycd" resultType ="com.example.miniProj.domain.dto.ServiceTycdDto">
        select serviceTycd,
               signTargetTycd
        from member
        where HEX(AES_DECRYPT('userNm', 'YzNmOGQ2OGI1ZDEwNDA5YmJmZmRhMTI5')) = #{memberDto.userNm}
          and HEX(AES_DECRYPT('phoneNo', 'YzNmOGQ2OGI1ZDEwNDA5YmJmZmRhMTI5')) = #{memberDto.phoneNo}
    </select>
</mapper>